/*style.css*/
body {
    background-image: url(pic2.jpg);
	backgroun-repeat: no-repeat;
	background-size:cover;
}
body{
	border:0px solid black;
}
#maincontent{
	width: 60%;
	float: left;
	padding-right:25%;
}

#content{
	width:25%;
	float:left;
	font-size:28px;
	border:solid 2px;
	padding-left:25px;
	padding-right:965px;
	padding-bottom:3%;
}

#sidebar{
	width: 30%;
	float: right;
}

#footer #col1{
	width: 30%;
	display: inline;
}

#footer #col2{
	width: 30%;
	display: inline;
}

#footer #col3{
	width: 30%;
	display: inline;
}

#container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#logo{ 
	color: #111;
	font-family:Brush Script MT, cursive;
	font-size:50px;
	letter-spacing:-1px;
	line-height:1;
	text-align:left;
	border-top:50px;
	border-bottom:0px;
}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	border-top:10px;
}

#menu {
    display:inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
	font-size:28px;
	margin-right:10%;
	margin-right:10%;
}	

#menu1{
	display:inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
	font-size:28px;
	margin-right:140px;
	margin-left:100px;
}


#myphoto{
	width:80%;
	margin-left:120px;
	float:left;
	padding-bottom:10px;
}
h2{
	font-size:29px;
	font-family:Bastion;
	margin-right:559px;
	margin-left:559px;
	margin-bottom:0px
	
}

p{
	font-size:27px;
	font-family:Arial;
	border-top:2px;
}
#aboutImg{
	float:right;
	height: 250px;
	border-top:25px;
}
#abouttext{
	border:100px;
}
#cv{
	border-left:250px;
}

#cvbutton{
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
	font-size:28px;
	border:2px solid black;
	
	
}
span {
	font-weight: bold;
	font-size: 28px;
	color: #ffffff;
}
dt{
	font-size:32px;
}